In [11]:
## f string
print(f"My age is: {age}")

My age is: 20

In [7]:
## format()
name="Mirza"
age=20
print("My name is {} and age is {}".format(name,age))

My name is Mirza and age is 20

In [9]:
name="Mirza"
age=20
print("My name is {} and age is {}".format(age,name))

My name is 20 and age is Mirza

In [10]:
##placeholder
print("My name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

My name is Mirza and age is 20

In [12]:
name="Adil"
age= 20
degree="BE"

" My age is 20 and i have completed: my degree of BE with the name of adil"

' My age is 20 and i have completed: my degree of BE with the name of adil'

In [13]:
print("My age is {} and i have completed: my degree {} with the name of {}".format(age,age,name))

My age is 20 and i have completed: my degree 20 with the name of Adil

In [14]:
print(f"My age is {age} and I have completed: my degree of {degree} with the name of {name}")

My age is 20 and I have completed: my degree of BE with the name of Adil

## Control Flow
### Decision Making statements
    * It is kind of making desicion during occured situation of program executation and action can be taken according to specified condition.
    * Sturcture of decision making evaluate several expression that provide True or False as a result.
    * It is up to you to decide which type of action want to take and execute the statement based upon True and False.
    
    **These are several topics of decision making which going to be discussed below:**
    1. **if**
    2. **if else**
    3. **if else else**
    4. **Nested if**
    5. **Single Statement Suites**

In [6]:
## if statement
age=18
if age>=18:
    print("You are eligible tp vote")

You are eligible tp vote

In [17]:
## if statement
age=18
if age<18:
    print("You are not eligible tp vote")

In [14]:
18<=18

True

In [22]:
name=input("Enter the name")

Enter the name Adil mirza

In [23]:
age=int(input("Enter your age"))

Enter your age 21

In [21]:
type(age)

int

In [26]:
## Task
age=int(input("Enter the age"))
if age>=18 and age<=45:
    print("You are young blood")

Enter the age 22

You are young blood

In [28]:
## if else statements
age=int(input("Enter the age"))
if age>=18 and age<=45:
    print("You are young blood")
else:
        print("Thanlk you your application is rejected")

Enter the age 17

Thanlk you your application is rejected

In [32]:
product_price=int(input("Enter the price"))
if product_price>1000:
    print("The price of the product is {}".format(product_price*0.8))
else:
    print("The price of the product is {}".format(product_price*0.7))

Enter the price 4000

The price of the product is 3200.0

In [ ]:
## mall - input the product price
## product >3000 rs 20% off 
## print the product price after removing the discount
## product >=2000 rs and <=3000 30% off
## print the product price after the removing the discount
## product <=1000 rs and <=2000 40% off
## print the product price after removing the discount

In [41]:
product_price=int(input("Enter the price"))
if product_price>3000:
    print("The price of the product is {}".format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
     print("The price of the product is {}".format(product_price*0.7))
else:
    print("The price of the product is {}".format(product_price*0.6))

Enter the price 5000

The price of the product is 4000.0

In [42]:
product_price=int(input("Enter the price"))
if product_price>3000:
    print("The price of the product is {}".format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
     print("The price of the product is {}".format(product_price*0.7))
elif product_price>=100 and product_price<=2000:
    print("The price of the product is {}".format(product_price*0.6))
else:
    print("Lets drink tea")

Enter the price 50

Lets drink tea

In [1]:
## Single statement Suites
val=int(input("Enter the number"))
if(val<=999):print("Value is less than equal to 999")

Enter the number 500

Value is less than equal to 999

## Loopa statement
1. while loop
2. for loop
3. nested loops
4. loop control(break,continue,pass)

In [2]:
# while loop while-else
joining_age=25
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)
else:
    print("Its time for retirement")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
Its time for retirement

In [5]:
### ATM machine with 1000 rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Put more money bank people")

1000
900
800
700
600
500
400
300
200
100
Put more money bank people

## For loop

In [ ]:
lst=["Mirza",1,2,3,4,"apple","banana"]

In [17]:
type(list)

type

In [18]:
list[4]

list[4]

In [19]:
list

list

In [21]:
for x in lst:
    print(x)

NameError: name 'lst' is not defined

In [ ]:
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

In [3]:
for a in fruits_list:
    print(a)
    if a=="Cheery": 
        print("The fruit is cheery")

NameError: name 'fruit_list' is not defined

In [4]:
fruit='mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [5]:
fruit='mango'
for x in fruit:
    print(x,end='')

mango

In [6]:
fruit[2]

'n'

In [ ]:
## Nested loops
n=7

In [11]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [12]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [16]:
## Nested loops
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [ ]:
## loop controls
## Break and continue
fruits_list = ["Mamgo", "Cherry", "Apple", "Papaya", "Banana"]

In [19]:
for i in fruits_list:
    if i=="Apple":
        print("The fruits is apple")
        break
    print(i)

NameError: name 'fruits_list' is not defined

In [20]:
for i in fruits_list:
    if i=="Apple":
        print("The fruits is apple")
        pass
    print(i)

NameError: name 'fruits_list' is not defined

In [21]:
for i in fruits_list:
    if i=="Apple":
        print("The fruits is apple")
        continue
    print(i)

NameError: name 'fruits_list' is not defined